@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff2") url("../fonts/OpenSans-Regular.woff");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold\ .woff2"), url("../fonts/Montserrat-Bold.woff");
}

@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../fonts/OpenSans-SemiBold.woff2"), url("../fonts/OpenSans-SemiBold.woff");
}