body {
    font-family: "OpenSans";
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    min-width: 300px;
}


.wrapper {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}