@import "_normalaiz";
@import "_fonts";
@import "_global";
@import "_colors";

// nav menu

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;

    .menu-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    nav {
        
        display: flex;
        justify-content: space-between;
        align-items: center ;
        width: 100%;
        margin-left: 35px;
        margin-right: 60px;
    }
        
    .menu {
       display: flex;
       justify-content: space-between;
    }

    .menu-item-center{
        padding-right: 80px;
        padding-left: 80px;
        
    }

   

    a {
        text-decoration: none;
        color: rgba(54, 56, 56, 0.9);
        font-family: "Montserrat-Bold";

    }

    .btn-menu {
        border: none;
        background-color: #fff;
        cursor: pointer;
    }
}

    // slider

.slider-heder {
    background-image: url("../media/background_img/slider-bg.jpg");
    max-height: 710px;
    margin-bottom: 225px;
    

    .swiper-pagination-bullets  .swiper-pagination-bullet {
        margin: 0px 13px;
        text-align: center;
        color: $color-title;
        opacity: 1;
    }   
    .swiper-pagination-bullet-active {
        background: #ffef35;
    }

    .swiper-items {
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .slider-content {
        position: relative;
        bottom: 80px;
        text-align: left;
        margin-left: 25px;
    }        
        .slaider-title {
            position: relative;
            color: $color-title;
            font-family: "Montserrat-Bold";
            font-weight: 600;
            font-size: 100px;
            line-height: 1.2;
            padding-bottom: 20px;
            margin-bottom: 26px;
                &::before{
                    content: ('');
                    display: block;
                    position: absolute;
                    width: 185px;
                    height: 1px;
                    background: $color-title;
                    margin: 0 auto;
                    bottom: -4px;
                }
            }
            
        .slider-text{
            color: $color-text;
            max-width: 550px;
            line-height: 1.7;
        }           
}
   
    
    .swiper-pagination{
        align-items: center;
        bottom: 0;
    }
     
//  section collection

    .new-collection-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .new-collection-title {
            position: relative;
            margin-bottom: 50px;
            color: $color-title;
            font-family: "Montserrat-Bold";
            font-size: 36px;
            font-weight: 700;
            line-height: 51px;
            text-align: center;
                &::before{
                    content: ('');
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 252px;
                    height: 1px;
                    background-color: #6d7278;
                    margin: 0 auto;
                    bottom: -25px;
                    }
            }    
        .new-collection-text {
            color: $color-text;
            max-width: 730px;
            text-align: center;
            margin-bottom: 0 auto 30px;
        }
    }

// gallery section collection

.collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin: 0 30px;

        .collection-item {
        position: relative;
            &:hover{
                .collection-info {
                    opacity: 1;
                }  
            }
        }

        .collection-img {
            width: 100%;
            height: 100%;
        }

        .collection-info {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($color: #fff, $alpha: .7);
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            
            .collection-info-title {
                font-size: 20px;
                line-height: 1.5;
                color: $color-title;
                margin-bottom: 19;
                position: relative;
                 &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80%;
                    height: 1px;
                    background-color: #6d7278;
                    margin: 0 auto;
                    bottom: -15px;
                 }
            }

            .collection-info-text{
                font-weight: 600;
                font-size: 14px;
                color: #707070;
            }

        }     
}

