@import "_normalaiz";
@import "_fonts";
@import "_vars";
@import "_global";
@import "_colors";
@import "_adaptiv";
// nav menu



.menu-logo {
    position: absolute;
    top: 39px;
    left: 50%;    
}


nav {     
     display: grid;
     grid-template-rows: 103px;
     grid-template-columns: 36% 1fr 20% 5%;
     grid-gap: 30px;
     align-items: center;        
    
        
    .menu {
        gap: 60px;
       display: flex;
       justify-content: center;
       align-items: center;
       
     
        
        .menu-item .menu-item-link {
            color: rgba(54, 56, 56, 0.9);
            @extend %title;
            line-height: 22px;
                &.menu-item-link--active {
                    padding-bottom: 4px;
                    position: relative;
                        &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                        border-radius: 1px;
                        background-color: rgba($color-title, .7);
                    }
                }
        }
    }

    .btn-menu {
        border: none;
        background-color: #fff;
        cursor: pointer;
    }

    .hamburger {
        display: none;
    }
}

.rightside-menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 545px;
    width: 100%;
    height: 665px;
    background-color: #fff;
    padding-top: 40px;
    box-shadow: -2px 3px 17px 0 #000;
    transition: all .6sec;
    display: block;
    z-index: 10;
    &.rightside-menu-close {
        display: none;
        
    }

        .rightside-menu-btn {
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            margin-left: 50px;
            margin-bottom: 35px;
        }

        .rightside-menu-content {
            text-align: center;
            max-width: 365px;
            margin: 0 auto;
        }

        .rightside-menu-logo {
            display: inline-block;
            margin-bottom: 10px;

            .logo-dig {
                width: 140px;
                height: 100%;
                object-fit: cover;
            }
        }

        .rightside-menu-title {
            color: $color-title;
            @extend %title;
            font-size: 31px;
            position: relative;
            margin-bottom: 17px;
            padding-bottom: 17px;
            &::after {
                content: ('');
                display: block;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 252px;
                height: 1px;
                background-color: #6d7278;
                margin: 0 auto;
                }      
        }

        .rightside-menu-text {
            font-size: 12px;
            margin-bottom: 50px;
        }

        .rightside-menu-images {
            max-width: 365px;
            object-fit: cover;
        }
}


// breadcrumbs for other pages

.breadcrumbs {
    padding: 0 14px;
    &.breadcrumbs--pages{
        height: 40px;
        background: rgba(#DFDFDF, .5);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        z-index: 5;
        }
    
   

    .breadcrumbs-list {
        display: flex;
        margin: 0 auto;
        &.breadcrumbs-list--pages {
            padding-top: 7px;
        }
            

        li {
            margin-right: 5px;
        }
    }

    .breadcrumbs-link {
        font-size: 12px;
        color: $color-text;
        font-family: "OpenSans";
        font-weight: 400;
        margin: 0;
    }
}


    // slider

.slider-header {
    background-image: url("../media/background_img/slider-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    max-height: 580px;
    margin-bottom: 149px;
       

    .swiper-pagination-bullets  .swiper-pagination-bullet {
        margin: 0px 11px;       
        text-align: center;
        color: $color-title;
        opacity: 1;
    }   
    .swiper-pagination-bullet-active {
        background: #ffef35;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        left: 50px;
    }

    .swiper-items {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        // background-image: url("../media/background_img/slider-bg.jpg");
        // background-repeat: no-repeat;
        }

    .slide-img {
        max-width: 100%;
        max-height: 652px;
        object-fit: cover;
    }    


    .slider-content {
        position: relative;
        bottom: 72px;
        text-align: left;
        margin-left: 45px;
    }        
        .slaider-title {
            position: relative;
            color: $color-title;
            @extend %title;
            max-width: 635px;
            line-height: 110px;
            font-size: 89px;
            padding-bottom: 21px;
            margin-bottom: 21px;
                &::before{
                    content: ('');
                    display: block;
                    position: absolute;
                    width: 23%;
                    height: 1px;
                    background: $color-title;
                    margin: 0 auto;
                    bottom: 0;
                }
            }
            
        .slider-text{
            color: $color-text;
            max-width: 550px;
            line-height: 21px;
        }           
}
   
    
    .swiper-pagination{
        align-items: center;
        bottom: 0;
    }
     
//  section collection

    .new-collection-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .new-collection-title {
            position: relative;
            margin-bottom: 25px;
            color: $color-title;
            @extend %title;
            font-size: 30px;
                &::before{
                    content: ('');
                    display: block;
                    position: absolute;
                    left: 60%;
                    transform: translateX(-50%);
                    width: 252px;
                    height: 1px;
                    background-color: #6d7278;
                    margin: 0 auto;
                    bottom: -23px;
                    }
            }    
        .new-collection-text {
            color: $color-text;
            max-width: 685px;
            text-align: center;
            margin-bottom: 45px;
        }
    }

// gallery section collection

.new-collection {
    margin-bottom: 86px;
}

.collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 30px;
    margin: 0 22px;
   

        .collection-item {
        position: relative;
            &:hover{
                .collection-info {
                    opacity: 1;
                }  
            }
        }

        .collection-img {
            width: 100%;
            height: 100%;
            max-height: 1150px;
            object-fit: cover;
        }

        .collection-info {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($color: #fff, $alpha: .7);
            padding: 10px;
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: all .5s;
            
            .collection-info-title {
                font-size: 17px;
                @extend %title;
                line-height: 25px;
                color: $color-title;
                position: relative;
                 &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80%;
                    height: 1px;
                    background-color: #6d7278;
                    margin: 0 auto;
                    bottom: -15px;
                 }
            }

            .collection-info-text{
                font-weight: 600;
                font-size: 11px;
                color: #707070;
            }

        }     
}

.decor {
    margin-bottom: 60px;
    padding: 135px 0 132px;
    background-image: url(../media/background_img/decor-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    .decor-content {
        padding-left: 61px;
    }

     .decor-title {
        max-width: 730px;
        color: $color-title;
        @extend %title;
        font-size: 48px;
        line-height: 67px;
        padding-bottom: 18px;
        margin-top: 0;
        margin-bottom: 15px;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 22%;
            height: 1px;
            background-color: #6d7278;
            margin: 0 auto;
            bottom: 0px;
            }
    }
     .decor-text {
        max-width: 540px;
        color: $color-text
        }
}

.works {
    margin-bottom: 41px;
}

    .works-title {
        text-align: center;
        @extend %title;
        color: $color-title;
        margin-bottom: 14px;
        font-size: 31px;
        }

    .works-items {
        display: flex;
        align-items: flex-end;
        border-bottom: 2px solid rgba($color-title, 0.7);
        position: relative;
        &::before {
            content:('');
            position: absolute;
            bottom: 0px;
            left: 0;
            transform: translateY(50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $color-title;
            }          
        }

        .works-items-box {
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
            padding-top: 5px;
            position: relative;
            &::before {
                content:('');
                position: absolute;
                top: 0px;
                right: 0px;
                transform: translateY(-6px);
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: $color-title;
                }          
        } 
            .works-item {
                width: 215px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                position: relative;
                }

                .roulette {
                    &::after {
                        content:('');
                        position: absolute;
                        top: 0px;
                        transform: translateY(-38%);
                        width: 2px;
                        height: 15px;
                        background: $color-title;
                        }             
                }
               
                .sofa{
                    margin-left: 250px;
                    &::after {
                        content:('');
                        position: absolute;
                        bottom: 0;
                        width: 2px;
                        height: 15px;
                        background: $color-title;
                        }
                }

                .delivery {
                    width: 220px;
                    margin-left: 311px;
                }
        
            .works-item-title {
                margin-left: 13px;
                @extend %title;
                line-height: 23px;
                color: $color-title;
                font-size: 13px;
                margin-bottom: 19px;
                }

            .works-item-text {    
                margin-top: 0;
                padding-bottom: 15px;
                font-size: 13px;
                line-height: 22px;
                }

            .project-images {
                width: 31px;
                height: 32px;
            }

            .sofa-images {
                width: 38px;
                height: 26px;
            }

            .roulette-images {
                width: 38px;
                height: 23px;
            }

            .delivery-images {
                width: 42px;
                height: 31px;
            }

// section gallery

.gallery {
    margin-bottom: 67px;

    .gallery-buttons{
        text-align: center;
        margin-bottom: 34px;
    }

    .gallery-btn {
        margin: 0 7px;
        background-color: transparent;
        border: 1px solid #8f8d8d;
        border-radius: 20px;
        padding: 8px 16px;
        color: #8f8d8d;
        font-size: 11px;
        font-weight: 600;
        cursor: pointer;
    }

    .mixitup-control-active {
        background-color: #ffef35;
        border: 1px solid #ffef35;
        color: $color-title;
    }

    .gallery-items {
        display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 16% 1fr 1fr 1fr;
        // grid-template-rows: 48% 48%;
        grid-gap: 30px 30px;
        margin: 0 22px;
    }

    .gallery-item:first-child {
        grid-column: span 2;
        grid-row: span 2;        
    }

// gallery pages

    &.gallery--page {
        margin-top: 65px;
        margin-bottom: 100px;
        .gallery-items{
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);  
            grid-gap: 30px 30px;
            margin: 0 22px;
        
        .gallery-item:nth-child(8) {
            grid-column: span 2;
            grid-row: span 2;  
            }
    
        }    
    }

    .gallery-img {
        object-fit: cover;
        width: 100%;      
        height: 100%;
    }

    

}

// section blog

.blog{
    margin-bottom: 67px;


    .blog-title {
        text-align: center;
        color: $color-title;
        @extend %title; 
        font-size: 31px;
        margin: 0 auto 30px;
        max-width: 395px;
    }

    .blog-items {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .blog-item {
            max-width: 460px;
        }

        .blog-img{
            display: inline-block;
            height: 258px;
            width: 100%;
            object-fit: cover;
        }

        .blog-info {
            display: flex;
            align-items: center;
            color: #707070;
            font-size: 11px;
            font-weight: 600;

            .blog-date {
                margin: 0;
            }

            .blog-author, .blog-articles {
                color: inherit;
                padding: 0 3px;
            }
        }

        .blog-item-title {
            color: $color-title;
            @extend %title;
            line-height: 34px;
            font-size: 21px;
            margin: 0;
        }
    }
}


// footer   

footer {
    .footer-content{
        background-color: #DFDFDF;
        padding-top: 28px;
        
    }

    .footer-inner {
        display: flex;
        justify-content: space-between;

    }

    .footer-info {
        width: 540px;
    }

    .footer-title {
        @extend %title;
        color: $color-title;
        margin: 0;
        padding-bottom: 8px;
        line-height: 23px;
        font-size: 13px;
    }

    .footer-text {
        color: $color-text;
        margin: 0;
        font-size: 12px;
        padding-bottom: 20px;
        max-width: 475px;
    }

    .footer-email {
        display: inline-block;
        font-family: "OpenSans-SemiBold";
        font-weight: 600;
        line-height: 12px;
        font-size: 12px;
        color: $color-title;
        margin-bottom: 22px;
        

        .envelope {
            width: 16px;
            height: 12px;
            padding-right: 14px;
            transform: translateY(2px);            
        }
        path{
            fill: #363838;
        }
    }

    .footer-form{
        display: flex;
    }

    .footer-form-input{
        padding: 6px 10px 6px 18px;       
        background-color: transparent;
        border-radius: 21px;
        border: 1px solid rgba($color-title, .7);
        width: 100%;
        &::placeholder {
            font-family: "OpenSans", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }

    .footer-form-btn{
        background-color: $color-title;
        border: none;
        border-radius: 21px;
        color: #ffffff;
        font-weight: 600;
        padding: 6px 12px;
        min-width: 160px;
        margin-left: 9px;
        cursor: pointer;
    }

    .footer-social {
        width: 125px;
        margin-right: auto;
        margin-left: 100px;

        .facebook {
            width: 16px;
            height: 16px;
            transform: translateY(4px);
        }

        .instagram {
            width: 14px;
            height: 15px;
            transform: translateY(4px);
        }

        .pinterest {
            width: 16px;
            height: 16px;
            transform: translateY(4px);
        }

        .whatsApp {
            width: 14px;
            height: 14px;
            transform: translateY(3px);
        }

        .youtube {
            width: 18px;
            height: 12px;
            transform: translateY(2px);
        }

        path {
            fill: #707070;
        }
    }

    

    .footer-social-item, .footer-menu-item {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 11px;
       
    }

    .footer-social-link, .footer-menu-link {
        color: #707070;
    }
   

    .footer-svg {
        padding-right: 12px;
    }


    .footer-menu {
        margin-right: 60px;
        width: 155px;
    }

    .footer-copyright{
        background-color: $color-title;
        color: #A1A1A1;
        text-align: center;
        padding: 42px 0;
        .footer-copyright-text {
            font-size: 13px;
            margin: 0 auto;
        }
    }
}

// page about

// section about-preview
.about {
    min-height: 312px;
    background-image: url(../media/section-about-preview/about-preview-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-bottom: 130px;

    .about-preview-title {
        @extend %title;
        color: $color-title;
        font-size: 47px;
        line-height: 56px;
        margin: 0 auto;
        padding: 100px;
    }
}

// section about-content
.about {
    margin-bottom: 72px;
}
.about-title {
    max-width: 820px;
    @extend %title;
    color: $color-title;
    line-height: 50px;
    font-size: 33px;
    margin-bottom: 45px;
    position: relative;
        &::after {
            content:('');
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(22px);
            height: 1px;
            width: 21%;
            background-color: #6D7278;
        }
}

.about-text {
    padding-left: 285px;

    p {
        line-height: 21px;
        font-size: 13px;
        margin-bottom: 25px;
    }
}

// section about video

.about-video, .article-video{
    margin-bottom: 65px;

    #video {        
        position: relative;

        .video-control {  
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background: rgba(#363838, .4);
            z-index: 1;
            cursor: pointer;
            transition: .2s ease;
            transition-property: opacity, visibility;
            border: none;         
                &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                left: 21px;
                width: 0;
                height: 0;
                border: 20px solid transparent;
                border-top-width: 12px;
                border-bottom-width: 12px;
                border-left-color: #fff;
                border-right-width: 0;
                transition: transform .2s ease;
                }
            } 

            .pause {
                opacity: 0;
                &:hover{
                    opacity: 1;
                }
                             
                &::after{
                    content:('');
                        position: absolute;
                        top: 18px;
                        right: 20px;
                        width: 5px;
                        height: 20px;
                        background: #fff;
                    }
                &::before {
                    position: absolute;
                    bottom: 0;
                    left: 20px;
                    width: 5px;
                    height: 20px;
                    background: #fff;
                    border: none;
                    }               
            }                    
        }
      
        video {
            height: 322px;
            width: 100%;
            display: block;
            object-fit: cover;
        }
}      



// section inspiration

.inspiration {
    position: relative;
    &::after {
        content: ('');
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(../media/pageAbout-inspiration/inspiration-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 305px;
        z-index: -5;
    }
}

.inspiration-inner {
    display: flex;
    justify-content: center;
    align-items: center;

    .inspiration-image {
        margin-right: 78px;
        margin-left: 105px;
        max-height: 100%;
        max-width: 370px;
        object-fit: cover;
    }

    .inspiration-content {
        max-width: 660px;
        margin-right: 20px;
    }

    .inspiration-title {
        font-size: 29px;
        line-height: 63px;
        color: $color-title;
        @extend %title;
        margin-bottom: 26px;
        position: relative;
            &::after {
                content:('');
                position: absolute;
                left: 0;
                bottom: 0;
                background: #6D7278;
                transform: translateY(4px);
                width: 25%;
                height: 1px;
            }
    }

    .inspiration-text {
        font-size: 13px;
        margin-bottom: 30px;
    }

    .inspiration-list {
        margin: 0%;
        padding: 0;
    }

    .inspiration-item {
        @extend %title;
        color: $color-title;
        font-size: 13px;
        line-height: 23px;
        margin-bottom: 15px;
        position: relative;
    }

    .inspiration-item-content {
        display: flex;
        justify-content: space-between;

        .inspiration-item-text {
            margin: 0;
        }

        .inspiration-item-numb {
            font-size: 20px;
        }
    }

// inspiration progress bar
    progress {
        position: absolute;
        bottom: 13px;
        height: 2px;
        border-radius: 4px;
        width: 100%;
        background: #fff;
        
      }
      progress::-webkit-progress-bar {
        /* stayl ruls */
        background: transparent;
        
      }
      progress::-webkit-progress-value {
        /* stayl ruls */ 
        background: $color-title;
        
      }
      progress::-moz-progress-bar {
        /* stayl ruls */
        background: $color-title;
        
      }
}

// section partners

.partners {
    margin-bottom: 55px;

    .partner-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 30px;
        margin: 0 30px;
    
        .partner-item{
            max-width: 320px;
            max-height: 320px;
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            display: block;
        }
    
    }
}

// section about collection

.collection-about {
    margin-bottom: 70px;
}


// page gallery

.gallery-page {
    margin-bottom: 67px;
    .gallery-items{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4 1fr);   
    grid-gap: 30px 30px;
    margin: 0 22px;
    }
    .gallery-item:nth-child(8) {
        grid-column: span 2;
        grid-row: span 2;  
        }
     
    
    .gallery-img {
        max-width: 1165px;
    }
}


// page blog

.blogs {
    margin-top: 45px;
    .blog-inner{
        display: flex;
        justify-content: space-between;      
    }

    .blog-content{
        max-width: 641px;

        .blog-item {
            margin-bottom: 102px;
        }

        .blog-item-img {
            max-height: 332px;
            width: 100%;
            object-fit: cover;
        }

        .blog-item-info {
            display: flex;
            align-items: center;
            padding-top: 6px;
            font-weight: 600;
            font-size: 12px;
            color: #707070;
                a {
                    color: inherit;
                }
        }

        .blog-item-title {
            margin: 0;
            font-size: 19px;
            line-height: 28px;
            margin-bottom: 6px;
            color: $color-title;
            @extend %title;
        }

        .blog-item-text{
            margin-top: 4px;
            font-size: 13px;
            line-height: 21px;

        }

        blockquote {
            background:  rgba(223, 223, 223, 0.5);
            margin: 0 auto;
            margin-bottom: 40px;
            padding: 37px 53px;
            font-weight: 300;
            font-style: italic;
            font-size: 17px;
            line-height: 28px;
            text-align: center;

            .blog-blockquote-author {
                font-style: normal;
                font-size: 14px;
                line-height: 22px;
                color: $color-title;
                @extend %title;
                margin-top: 20px;
                padding-top: 20px;
                position: relative;
                &::before {
                    content:('');
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: #6D7278;         
                    width: 33%;
                    height: 1px;
                    border-radius: 1px;
                    margin: 0 auto;
                }

            }
        }

        .article-slider {
            margin-bottom: 10px;
        }

        .pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 33px;

            .pagination-list {
                display: flex;

                .pagination-list-item {
                    margin: 0 6px;
                }

            }

            .pagination-arrow {
                margin: 0 6px;
            }

            .pagination-arrow--disabled {
                display: none;
            } 

            .arrow-left, .right-arrow {
                width: 6px;
                height: 12px;
                margin-top: 6px;
            }

            .pagination-list-numb {
                font-weight: 600;
                font-size: 11px;
                color: #707070;
            }

            .pagination-list-numb--active {
                color: $color-title;
            }
        }

        .article-slider{
            .slide-img {
                max-height: 332px;
                width: 100%;
                object-fit: cover;
            }

            .aroww-slide {
                width: 20px;
                height: 15px;
            }

            .swiper-button-next:after, .swiper-button-prev:after {
                display: none;
            }
        }
    }
}

aside {
    width: 350px;
    margin-left: 30px;
    .aside-search {
        position: relative;

        .aside-search-input {
            padding: 6px 38px 6px 13px;
            border: 1px solid rgba($color-title, .7);
            border-radius: 20px;
            display: block;
            width: 70%;
            font-size: 14px;
            font-family: "OpenSans", sans-serif;
            &::placeholder {
                font-family: "OpenSans", sans-serif;
                font-weight: 400;
                font-size: 12px;
                line-height: 24px;
                color: #A1A1A1;
                }
        }

        .aside-search-btn {
            border: none;
            background-color: transparent;
            position: absolute;
            top: 5px;
            right: 15%;
            cursor: pointer;
        }

        .search-svg {
            width: 15px;
            height: 16px;
        }
    }

    .blog-category {
        margin-bottom: 36px;

        .blog-category-title {
            margin-bottom: 7px;
            color: $color-title;
            @extend %title;
            font-size: 13px;
            line-height: 31px;           
        }

        .blog-category-list {
            padding: 0;
            margin: 0;
            font-size: 13px;
            line-height: 19px;
        }

        .blog-category-item {
            margin-bottom: 13px;
        }

        .blog-category-link {
            color: inherit;
        }

    } 
    
    .recent-posts-title {
        margin-bottom: 16px;
        color: $color-title;
        @extend %title;
        font-size: 13px;
        line-height: 23px;
        }
    
    .recent-posts-list {
        padding: 0;

        .recent-posts-item {
            margin-bottom: 5px;
       
            .recent-posts-item-title {
                display: block;
                color: inherit;
                font-size: 13px;
                }
            
            .recent-posts-date,  .recent-posts-author {
                font-size: 11px;
                color: #A1A1A1;
            }              
    }  
}

    .blog-tags {


        .blog-tags-title {
            margin-top: 35px;
            margin-bottom: 8px;
            color: $color-title;
            @extend %title;
            font-size: 13px;
            line-height: 23px;
        }
        
        .blog-tags-link {
            color: #8F8D8D;
            font-weight: 600;
            font-size: 10px;
            padding: 0 16px;
            margin-bottom: 7px;
            margin-right: 10px;
            display: inline-block;
            border: 1px solid rgba(#454647, .5);
            border-radius: 14px;
                &:hover {
                    background-color: #ffef35;
                    border: 1px solid #ffef35;
                    color: $color-title;
                }
        } 
    
    }

    .blog-social {
        margin-top: 20px;
    }
    .blog-social-list {
        display: inline-flex;
        padding: 0;
        
        svg {
            margin-right: 12px;
            width: 15px;
            height: 12px;
        }
    }
}

// page blog-one
.blog-one {
    .blog-content {
        .blog-one-item {
            margin-bottom: 25px;
 
            .blog-item-title {
                font-size: 22px
            }

            blockquote {
                font-size: 19px;
                font-weight: 300;
                font-style: italic;
                color: $color-title;
                margin-top: 55px;
                margin-bottom: 22px;
                padding: 0 29px;
                background: none;
                text-align: left;
            }

            .blog-blockquote-author::before {
                right: 65%;
            // margin-left: 0px;
            }    
        }
    }

    .blog-one-items-tags {
        margin-bottom: 21px;

        .blog-one-items-tags-title {
            color: $color-title;
            @extend %title;
            font-size: 15px;
            line-height: 31px;
            margin-bottom: 6px;
        }

        .blog-one-items-tags-link {
           margin-bottom: 10px;
           margin-right: 22px;
           padding: 0 14px;
           color: #8f8d8d;
           font-size: 11px;
           font-weight: 600;
           border: 1px solid rgba(#454647, .5);
           border-radius: 14px;
           display: inline-block;
                &:hover {
                    background-color: #ffef35;
                    border: 1px solid #ffef35;
                    color: $color-title;
                }
        } 
    }
    
    .blog-one-links {
        padding: 31px 0 27px;
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
    }

    .blog-one-link {
        width: 203px;
        position: relative;
        color: #707070;
        font-size: 11px;
        font-weight: 600;
    }

    .blog-one-link-prev {
        padding-left: 26px;
    }

    .blog-one-link-next {
        padding-right: 26px;
        text-align: right;
    }

    .arrow-prev {
        width: 12px;
        height: 23px;
        position: absolute;
        left: 0;
        transform: translateY(41%);
    }
    
    .arrow-next {
        width: 12px;
        height: 23px;
        position: absolute;
        right: 0;
        transform: translateY(41%);        
    }

    .blog-one-comments {
        
        .blog-one-comments-title {
            color: $color-title;
            @extend %title;
            line-height: 31px;
            font-size: 16px;
            margin-bottom: 15px;
        }

        .blog-one-comments-item {
            display: flex;
            justify-content: space-between;
            align-items: start;
            margin-bottom: 40px;
        }

        .blog-one-comments-avatar {
            width: 53px;
            height: 53px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 13px;
        }

        .blog-one-reply {
            background-color: transparent;
            margin-left: 5px;
            border: none;
            padding: 0;
            font-size: 11px;
            font-weight: 600;
            color: #707070;
            cursor: pointer;
        }

        .blog-one-comments-name{
            color: $color-title;
            @extend %title;
            line-height: 23px;
        }

        .blog-one-comments-data {
            margin-bottom: 10px;
            font-size: 11px;
            color: #a1a1a1;
        }

        .blog-one-comments-text {
            font-size: 11px;
        }
    }

    .blog-one-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;

        .blog-one-form-title {
            color: $color-title;
            @extend %title;
            line-height: 23px;
            margin-bottom: 25px;
        }

        .blog-one-form-textarea {
            width: 100%;
            border: 1px solid #DFDFDF;
            border-radius: 24px;
            padding: 7px 11px;
            min-height: 82px;
            resize: none;
            margin-bottom: 12px;
                &::placeholder{
                    font-family: "OpenSans", sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 28px;
                    color: #A1A1A1;
                }
        }
    
        .blog-one-form-input {
            border: 1px solid #DFDFDF;
            border-radius: 20px;
            padding: 6px 16px;
            margin-bottom: 20px;
            width: 44%;
                &::placeholder{
                    font-family: "OpenSans", sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 28px;
                    color: #A1A1A1;
                    } 
        }

        .blog-one-form-label {
            width: 100%;
            margin-bottom: 20px;
            font-size: 12px;
            color: #A1A1A1;
        }

        .blog-one-form-btn {
            border: none;
            background-color: $color-title;
            color: #ffffff;
            border-radius: 21px;
            padding: 6px 54px;
            cursor: pointer;           
        }
    }
}

// page contact

// section map

.map {
    transform: translateY(-40px);
    margin-bottom: 82px;

    iframe {
        width: 100%;
        height: 460px;
        border: 0;
    }
}


// secton contact

.contact {
    margin-bottom: 81px;

    .contact-inner {
        padding-left: 549px;
        padding-right: 78px;
        font-size: 13px
    }

    .contact-title{
        @extend %title;
        color: $color-title;
        font-size: 29px;
        padding-bottom: 28px;
        margin-bottom: 28px;
        position: relative;
            &::after {
                content:('');
                position: absolute;
                bottom: 0;
                left: 0;
                height: 2px;
                width: 18%;
                background-color: #6D7278;
            }
    }

    .contact-info {
        padding-left: 229px;
    }

    .contact-social {
        display: flex;
        padding: 0;
        margin-bottom: 12px;

        .contact-social-item{
            margin-right: 36px;
        }

        svg {
            width: 15px;
            height: 12px;
        }
    }
    
    .contact-text{
        line-height: 22px;
    }
    .contact-phone {
        color: $color-title;
    }

    .contact-str {
        margin: 0;
    }

    .contact-city {
        margin: 0;
        margin-bottom: 10px;
    }

    .info-email {
        color: $color-title;
        font-size: 12px;
    }
    .info-email-svg {
        width: 15px;
        height: 10px;
        padding-right: 5px;
    }

// form
    .contact-form {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 22px;
        
        .contact-form-input {
            border: 1px solid #DFDFDF;
            border-radius: 20px;
            padding: 6px 16px;
            margin-bottom: 13px;
            width: 44%;
                &::placeholder{
                    font-family: "OpenSans", sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 28px;
                    color: #A1A1A1;
                } 
                
        }

        .contact-form-area {
            width: 100%;
            border: 1px solid #DFDFDF;
            border-radius: 24px;
            padding: 7px 11px;
            min-height: 82px;
            resize: none;
            margin-bottom: 20px;
                &::placeholder{
                    font-family: "OpenSans", sans-serif;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 28px;
                    color: #A1A1A1;
                }
        }

        .contact-form-btn {
            border: none;
            background-color: $color-title;
            color: #ffffff;
            border-radius: 21px;
            padding: 6px 54px;
            cursor: pointer;           
        }
    } 
}

.contact-slider {
    .slider-inner {
        margin-left: 25px;
    }

    .swiper2 {
        height: 171px;
        width: 100%;
    }
    .swiper-pagination-bullets  .swiper-pagination-bullet {
        margin: 0px 11px;       
        text-align: center;
        color: $color-title;
        opacity: 1;
        width: 7px;
        height: 7px;
    }   
    .swiper-pagination-bullet-active {
        background: #ffef35;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -5px;
        left: 0;
    }

    

    .slide-items {
        position: relative;
        &:hover {
            .slide-text-title {
                opacity: 1;
            }
        }
   
        .slide-img {
            width: 100%;
            height: 135px;
            object-fit: cover;
            
        }
       

        .slide-text-title {
            margin: 0;
            padding: 0 10px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            background-color: rgba(#fff, .6);
            color: $color-title;
            @extend %title;
            line-height: 22px;
            opacity: 0;
            transition: all .5s;
            }
    }
}



